# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [60]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [43]:
# load messages dataset
messages = pd.read_csv('messages.csv', dtype = str)
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [44]:
# load categories dataset
categories = pd.read_csv('categories.csv', dtype = str)
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [45]:
categories.count()

id            26248
categories    26248
dtype: int64

In [46]:

#merge datasets
df = messages.set_index('id').join(categories.set_index('id'))
df.head()

,message,original,genre,categories
id,,,,
100,a lot and we don't have any news of him. We ha...,"anpil E nou pa gen oken nouvel li, menm ke a n...",direct,related-1;request-1;offer-0;aid_related-0;medi...
1000,Since last night i cannot get through ( on cel...,De pi ye swa m pa ka pase. Yo toujou di mwen r...,direct,related-0;request-0;offer-0;aid_related-0;medi...
10000,you have been said that you ganna put 100 gour...,Nou te di n'ap mete 100 gdes sou telefon nan p...,direct,related-0;request-0;offer-0;aid_related-0;medi...
10002,How many aftershocks we can have.,Konbyen sekous ki rete nou ank.,direct,related-1;request-0;offer-0;aid_related-0;medi...
10003,Haiti honey you're the rose thorns find the fi...,Haiti cherie tu es la rose qui se trouves au c...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [47]:
# create a dataframe of the 36 individual category columns
categories = df['categories'].str.split(";", expand=True )
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
id,,,,,,,,,,,,,,,,,,,,,
100,related-1,request-1,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-1
1000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10002,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10003,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [48]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 100, dtype: object

In [49]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

100,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
100,related-1,request-1,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-1
1000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10000,related-0,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10002,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
10003,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [50]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].apply(lambda x: x[-1:])
    
    # convert column from string to numeric
    categories[column] = categories[column].apply(lambda x: int(x))
categories.head()

100,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
100,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [51]:
# drop the original categories column from `df`
df = df.drop('categories', axis=1)

df.head()

,message,original,genre
id,,,
100,a lot and we don't have any news of him. We ha...,"anpil E nou pa gen oken nouvel li, menm ke a n...",direct
1000,Since last night i cannot get through ( on cel...,De pi ye swa m pa ka pase. Yo toujou di mwen r...,direct
10000,you have been said that you ganna put 100 gour...,Nou te di n'ap mete 100 gdes sou telefon nan p...,direct
10002,How many aftershocks we can have.,Konbyen sekous ki rete nou ank.,direct
10003,Haiti honey you're the rose thorns find the fi...,Haiti cherie tu es la rose qui se trouves au c...,direct

In [52]:
# concatenate the original dataframe with the new `categories` dataframe
df =  pd.concat([df, categories], axis=1)
df.head(10)

,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
100,a lot and we don't have any news of him. We ha...,"anpil E nou pa gen oken nouvel li, menm ke a n...",direct,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1000,Since last night i cannot get through ( on cel...,De pi ye swa m pa ka pase. Yo toujou di mwen r...,direct,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10000,you have been said that you ganna put 100 gour...,Nou te di n'ap mete 100 gdes sou telefon nan p...,direct,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10002,How many aftershocks we can have.,Konbyen sekous ki rete nou ank.,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10003,Haiti honey you're the rose thorns find the fi...,Haiti cherie tu es la rose qui se trouves au c...,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10005,Caution to take about the cyclone in Haiti spe...,Mesure de prcaussion prendre dans les sircons...,direct,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
10006,Call me when you get this message.,Call me when you get this message.,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10007,information about season's cyclon.,Information sur la saison cyclone,direct,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
10008,Digiceel! I'd like to know if will have seime ...,DIGICEL MWEN BEZWEN KONNEN ESKE AP GENYEN SEIS...,direct,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10009,"Zb rmd : dl c.lve dl 2, dl rep, dl chase.","Zb rmd : dl c.lve dl 2, dl rep, dl chase",direct,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [56]:
# check number of duplicates
df.duplicated().sum()

171

In [57]:
# drop duplicates
df.drop_duplicates(keep='first', inplace=True)

In [58]:
# check number of duplicates
df.duplicated().sum()

0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [59]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('InsertTableName', engine, index=False)

NameError: name 'create_engine' is not defined

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.